@{
    ViewBag.Title = "Home Page";
}


    <h1 style="color:slateblue;">Welcome to Logic University Stationery Store </h1>
    <p class="lead"></p>
    <img src="~/Images/STATIONERY.jpeg" height="1000" width="1000" />
   