@{
    ViewBag.Title = "Home Page";
}

@*<script type="text/javascript" language="javascript">
     function DisableBackButton() {
       window.history.forward()
      }
     DisableBackButton();
     window.onload = DisableBackButton;
     window.onpageshow = function(evt) { if (evt.persisted) DisableBackButton() }
     window.onunload = function() { void (0) }
</script>*@



@*<div class="jumbotron">*@
    <h1 style="color:slateblue;">Welcome to Logic University Stationery Store </h1>
    <p class="lead"></p>
    <img src="~/Images/STATIONERY.jpeg" height="1000" width="1000" />
    @*<img src="~/Images/STATIONERY.jpeg" height="500" width="1000"/>*@
    @*<img src="~/Images/officepen.jpeg" height="500" width="1000"/>*@
    @*<img src="~/Images/cashier.jpeg" height="500" width="1000" />*@
    @*<img src="~/Images/stockcolor.jpg" height="500" width="1000" />*@
 

    @*<p><input type="button" value="Send Email" class="btn btn-primary" onclick="location.href='@Url.Action("Email", "Home")'" /></p>*@
@*</div>*@
