@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron" >
    
    @*<h1>Welcome to the Homepage</h1>*@
    <p class="lead"></p>
    @*<img src="~/Images/officepen.jpeg" height="500" width="1000"/>*@
    @*<img src="~/Images/cashier.jpeg" height="500" width="1000" />*@
    @*<img src="~/Images/stockcolor.jpg" height="500" width="1000" />*@
 

    @*<p><input type="button" value="Send Email" class="btn btn-primary" onclick="location.href='@Url.Action("Email", "Home")'" /></p>*@
</div>
