@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <h1>Home Page</h1>
    <p class="lead"></p>
    <p><input type="button" value="Send Email" class="btn btn-primary" onclick="location.href='@Url.Action("Email", "Home")'" /></p>
</div>
