<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
<script src="~/Scripts/chart-colors.js"></script>
<script src="~/Scripts/select2.min.js"></script>
<link href="~/Content/select2.min.css" rel="stylesheet" />
@*@Scripts.Render("~/bundles/Chart")*@

@{
    ViewBag.Title = "Reorder Amount";
}


<h2>Reorder Amount Chart</h2>

<hr />

<form id="chartForm">

    <div class="row form-inline">
        <div class="col-sm-1"><label>Months:</label></div>
        <div class="col-sm-4">
            <!-- Combobox -->
            <select class="form-control" id="monthCombobox" style="width: 100%" name="yearAndMonths" multiple="multiple" required>
                <option></option>
            </select>
        </div>
        <div class="col-sm-1"><label>Stationery:</label></div>
        <div class="col-sm-4">
            <!-- Combobox -->
            <select class="form-control" id="stationeryCombobox" style="width: 100%" name="itemCode" required>
                <option></option>
            </select>
        </div>
        <div class="col-sm-1">
            <input type="button" class="btn btn-primary" onclick="LoadData()" value="Generate Chart" />
        </div>
    </div>
</form>

<br />

<div id="progressBar" class="text-center hidden">
    Generating chart <progress id="p"></progress>
</div>
<div class="container" id="chartContainer"></div>



<script>

    function LoadData()
    {
        var form = document.getElementById("chartForm");

        if (!form.checkValidity())
        {
            // To trigger html5 form validation - Create a temporary button, click and remove it
            const tmpSubmit = document.createElement('button');
            form.appendChild(tmpSubmit);
            tmpSubmit.click();
            form.removeChild(tmpSubmit);
        }
        else
        {
            $.ajax({
                url: '@Url.Action("GetItemReorderComparisonChart", "Report")',
                data: $('#chartForm').serialize(),
                type: 'POST',
                beforeSend: function(){
                $('#progressBar').removeClass('hidden');
                },
                success: function (data) {
                    $("#chartContainer").html(data);
                    $('#progressBar').addClass('hidden');
                },
                error: function () {
                    alert("Opps. Some error occurs. Please try again.");
                }
            });
        }
    }


    // for stationery selection
    $(document).ready(function () {
        $('#stationeryCombobox').select2({
            ajax: {
                url: '@Url.Action("GetStationeryListBasedOnCategoryJSON", "Report")?categoryID=-1',
                delay: 250,
                dataType: 'json',
                processResults: function (data) {
                    return {
                        results: data
                    };
                },
            },
            placeholder: "Input item code",
            selectOnClose: true,
        });
    })


    // for months selection
    $(document).ready(function () {
        $('#monthCombobox').select2({

            maximumSelectionLength: 3,

            ajax: {
                url: '@Url.Action("GetMonthListJSON", "Report")',
                delay: 250,
                dataType: 'json',
                processResults: function (data) {
                    return {
                        results: data
                    };
                },
            },
            placeholder: "Max 3 months",
            selectOnClose: true,
        });
    });

</script>