<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
<script src="~/Scripts/chart-colors.js"></script>
<script src="~/Scripts/select2.min.js"></script>
<link href="~/Content/select2.min.css" rel="stylesheet" />

@{
    ViewBag.Title = "RequisitionCumulativeChart";
}

<h2>Requisition Cumulative Chart</h2>

<hr />

<form id="chartForm">
    <div class="row form-inline">
        <div class="col-sm-1"><label class="pull-right">Year:</label></div>
        <div class="col-sm-3">
            <!-- Combobox -->
            <select class="js-example-basic-multiple form-control" style="width: 100%" name="year" multiple="multiple" required>
                <option></option>
            </select>
        </div>
        <div class="col-sm-1">
            <input type="button" class="btn btn-primary" onclick="LoadData()" value="Generate Chart" />
        </div>
    </div>
</form>

<br />



<div id="progressBar" class="text-center hidden">
   <label>Generating chart</label>   <progress id="p"></progress>
</div>


<div class="container" id="chartContainer"></div>


<script>
    // for requisition cumulative graph
    function LoadData()
    {
        $('#progressBar').removeClass('hidden'); 

        $.ajax({
            url: '@Url.Action("GetRequisitionCumulativeBar", "Report")',
            type: 'POST',
            data: $('#chartForm').serialize(),
            success: function (data) {
                $("#chartContainer").html(data),
                $('#progressBar').addClass('hidden');

            },
            error: function () {
                alert("Opps. Some error occurs. Please try again."),
                $('#progressBar').addClass('hidden');
            }
        });
    }


    // for year selection
    $(document).ready(function () {
        $('.js-example-basic-multiple').select2({

            maximumSelectionLength: 1,

            ajax: {
                url: '@Url.Action("GetSelectableYearsJSON", "Report")',
                delay: 250,
                dataType: 'json',
                processResults: function (data) {
                    return {
                        results: data
                    };
                },
            },
            placeholder: "Select a year",
            selectOnClose: true,
        });
    });

</script>
